<div class="table">
	<section class="row"><!-- start content -->

​		<div class="col-md-6 left-column">



						<h2>photos of the cabinet inside, outside and the outside view from the cabinet</h2>
						<img src="0pic.jpg" alt="wood cabin1" style="width:200px;height:200px;">
						<img src="1stpic.jpeg" alt="wood cabin2" style="width:200px;height:200px;">
						<img src="1stpic.jpeg" alt="wood cabin2" style="width:200px;height:200px;">
						<img src="1stpic.jpeg" alt="wood cabin2" style="width:200px;height:200px;">






​

					</div><!-- end of left column -->

					<div class="col-md-6 right-column">

​

						<!-- Everything in here will be in the right column -->

						<h2>This is the right</h2>



​

​

					</div><!-- end of right column -->

​



​

			</section><!-- end of user section -->
</div><!-- end table div -->