.l-button {
	border: 1px solid #000;
	padding: 10px;
	background: none;
	transition: 0.3s ease-in-out;
}

.l-button:hover {
	background-color: #E1F1E2;
	transition: 0.3s ease-in-out;
}

.submit-button {
	border: none;
	border-radius: 4px;
	padding: 10px;
	background: none;
	background-color: #1ea3c9;
	color: white;
	font-weight: 700;
}


.add_listing {
	height: 120px;
	display: block;
	width: 100%;
	border: 1px solid #000;
	background: none;
	transition: 0.3s ease-in-out;
}

.add_listing:hover {
	background-color: #E1F1E2;
	transition: 0.3s ease-in-out;
}

.s-button {
	border: 1px solid #000;
	background: none;
	padding: 5px;
	font-family: 'Karla', monospace;
	font-size: 10px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	transition: 0.3s ease-in-out;
}

.s-button:hover {
	background-color: #E1F1E2;
	transition: 0.3s ease-in-out;
}

.button-text {
	font-family: 'Karla', monospace;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

.l-form {
	border: 1px solid #000;
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	background: none;
}