// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing-card {
	width: 1000px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	background-color: #fff;
}

.listing-image-thumb {
	// max-width: 33.33%;
	max-width: calc(100% / 3);
	margin: 0;
	float: left;
}

.google_maps {
	border: 0px;
	width: 100%;
	height: 300px;
	border-radius: 50px;
}