// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devise-input {
	list-style: none;
	margin-left: 0px; 
	padding-left: 0px;
}

.devise-input li{
	padding-bottom: 22px;
}

.cabin {
	width: 600px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

.sign-up {
	text-align: center
}

.sign-up img {
	border-radius: 50%;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 220px;
	height: 220px;
}

.login {
	width: 400px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}