body {
	background: #fdfff2;
	background: -moz-linear-gradient(45deg, #fdfff2 0%, #e8e6d0 100%);
	background: -webkit-linear-gradient(45deg, #fdfff2 0%,#e8e6d0 100%);
	background: linear-gradient(45deg, #fdfff2 0%,#e8e6d0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfff2', endColorstr='#e8e6d0',GradientType=1);
}

header {
	padding-left: 40px;
	text-align: center;
}

nav {
	height: 80px;
	background-color: black;
	color: white;
	padding-top: 30px;
}

nav li {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	padding-right: 30px;
}

footer {
	background-color: #111;
	color: white;
	padding: 50px;
}

.footer-col {
	padding: 50px;
	text-align: center;
}

.footer-col img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-bottom: 40px;
}

.social li {
	display: inline-block;
	margin: 0px 20px 0 20px;
}

.social {
	text-align: center;
}

.footer-row {
	margin-left: 200px;
	margin-right: 200px;
}