.max-width {
	max-width: 100%
}

.padding {
	padding: 40px
}

.border-left {
	border-left: 1px solid #000;
}

.border-top {
	border-top: 1px solid #000;
}

.border-bottom {
	border-bottom: 1px solid #000;
}

.border-right {
	border-right: 1px solid #000;
}

.float-bottom {
	float: bottom;
}

.margin-bottom {
	margin-bottom: 40px;
}

.margin-top {
	margin-top: 40px;
}

.margin-top-s {
	margin-top: 20px;
}