header {
	padding-left: 40px;
}

nav {
	height: 80px;
	background-color: #52AD52;
	border-bottom: 1px solid black;
	color: white;
	padding-top: 30px;
}

nav li {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	padding-right: 30px;
}

footer {
	background-color: #111;
	color: white;
	padding: 50px;
}

.footer-col {
	padding: 50px;
}

.social li {
	display: inline-block;
	margin: 0px 20px 0 20px;
}

.social {
	text-align: center;
}

.footer-row {
	margin-left: 200px;
	margin-right: 200px;
}